:root {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --offCyan: #639c94;
    --offCyanLight: #aecbc7;
    --offPurple: #94639c;
    --offPurpleLight: #c7aecb;
    --offGold: #9c9463;
    --offGoldLight: #cbc7ae;
    --offGoldLighter: #eceae1;
}

body{
    margin: 0;
    padding: 0;
}

header {
    background-image: url("/Images/Banner_Header.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; /* Flex direction is set to column so the headings are positioned one on top of the other. */
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
}

header h1 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 75px;
    margin: 1%;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    opacity: 0.75;
}

header h3 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    margin-top: 1%; /*Margin is set to 1% for both headers to position them closer together. */
    opacity: 0.5;
}

main {
    background-image:url(./Images/Header_Banner_White.jpg);
    background-repeat: repeat-x;
}

main figure {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

main figure img {
    border-radius: 50%;
    border: 10px solid var(--offGoldLight);
    max-width: 300px;
    margin-top: 10%;
    position: absolute;
}

nav {
    display: flex;
    margin-top: 20%;
    justify-content: center;
    padding-bottom: 200px;
}

.navbarNav {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

#navItem {
    background-color: var(--offCyan);
    margin: 10px;
    height: 100px;
    width:100px;
    border-radius: 50%;
    border: 10px solid var(--offCyanLight);
    display: flex;
    display: inline-block;
    text-align: center;
}

nav a {
    text-decoration: none;
    vertical-align: middle;
    line-height: 100px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#navItem:hover {
    height: 125px;
    width: 125px;
}

#navItem:hover > #navA {
    line-height: 125px;
}

.navbar > #navItem:hover {
    padding-bottom: 175px;
}

section {
    height: 400px;
    width: 100%;
    background-color: var(--offGoldLighter);
    color: var(--offPurple);
    font-size: 24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    position: relative;
    align-items: center;
}

.sectionHeader {
    background-color: var(--offCyan);
    margin: 10px;
    margin-top: -25%;
    height: 200px;
    width:200px;
    border-radius: 50%;
    border: 10px solid var(--offCyanLight);
    position: absolute;
    text-align: center;
}

section h2 {
    line-height: 95px;
    vertical-align: middle;
    color: white;
}

section p {
    margin-left: 250px;
    margin-right: 50px;
    text-align: center;
}

section img {
    border-radius: 50%;
    border: 10px solid var(--offGoldLight);
    height: 200px;
    width: 200px;
    margin-right: 2%;
}

.secondary {
    background-color: white;
}

.secondaryHeader {
    background-color: var(--offCyan);
    margin: 10px;
    margin-top: -25%;
    height: 200px;
    width:200px;
    border-radius: 50%;
    border: 10px solid var(--offCyanLight);
    position: absolute;
    text-align: center;
}

.secondary ul {
    list-style: none;
    text-align: center;
    font-size: 32px;
    margin: 32%;
    display: flex;
    flex-wrap: wrap; 
}

section ul {
    list-style: none;
    text-align: left;
    column-count: 2;
    margin: 32%;
}
