:root {
    --offCyan: #639c94;
    --offCyanLight: #aecbc7;
    --offPurple: #94639c;
    --offPurpleLight: #c7aecb;
    --offGold: #9c9463;
    --offGoldLight: #cbc7ae;
}

header {
    background-image: url("/Images/Banner_Header.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; /* Flex direction is set to column so the headings are positioned one on top of the other. */
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
}

header h1 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 75px;
    margin: 1%;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    opacity: 0.75;
}

header h3 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    margin-top: 1%; /*Margin is set to 1% for both headers to position them closer together. */
    opacity: 0.5;
}

main figure {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

main figure img {
    border-radius: 50%;
    border: 10px solid var(--offGoldLight);
    max-width: 300px;
    margin-top: 10%;
    position: absolute;
}

nav {
    display: flex;
}

#select {
    list-style-type: none;
    border-radius: 15px;
    background-color: var(--offPurple);
    padding: 15px 45px;
    margin: 25px;
    display: inline-block;
}

.leftSide {
    justify-content: left;
    margin-right: 15%;
}

.rightSide {
    justify-content: right;
    margin-left: 15%;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}